body {
  background: #0099F7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #fff;
text-align: center;
}
*{
  padding: 0;
  margin: 0;

}
.noteHeader, .noteBody, .noteFooter {
  background-color: rgba(0,0,0, .5);
  padding: 20px;
  margin: 0;
}
.noteHeader{
  font-family: 'Lobster', cursive;

}
.noteBody{
  margin-top: 20px;
}
.noteFooter{
  bottom: 0;
  position:fixed;
  left: 0;
  width: 100%;
}
